<div class="p-5">
  <div class="flex flex-col gap-5">
    <img class="rounded-lg w-full h-80 object-cover object-center" [src]="recipe.imagePath" [alt]="recipe.name">

    <div class="flex justify-between flex-row">
      <div>
        <h2 class="text-2xl font-semibold m-0 p-0">{{ recipe.name }}</h2>
        <p class="mb-3 max-w-72 font-normal text-gray-700 dark:text-gray-400">{{ recipe.description }}</p>
      </div>

      <!-- button -->
      <div class="relative">
        <button data-dropdown-toggle="detailDropdownBtn" id="detailDropdownBtn" appDropdown
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button">Dropdown button <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="detailDropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 absolute top-[80%]">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

  <app-shopping-list [ingredients]="recipe.ingredients"></app-shopping-list>
</div>
